.request {
    text-align: center;
  }
  
.container {
  max-width: 700px;
  width: 100%;
  background: whitesmoke;
  padding: 25px 30px;
  border-radius: 5px;
}

.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.container .title::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
} 

.container form .requester-detail {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

form .requester-detail .input-box {
  margin: 20px 0 12px 0;
  width: calc(100% / 2 - 20px);
}

.requester-detail .input-box .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.requester-detail .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.requester-detail .input-box input:focus,
.requester-detail .input-box input:valid {
  border-color: #9b59b6;
}

form .button {
  height: 45px;
  margin: 45px 0;
}

form .button input {
  height: 100%;
  width: 100%;
  outline: none;
  color: whitesmoke;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  letter-spacing: 1px;
  background: linear-gradient(135deg, #5dc2c2, #9b59b6)
}

form .button input:hover {
  background: linear-gradient(-135deg, #5dc2c2, #9b59b6);
}

@media (max-width: 584px) {
  .container{
    max-width: 100%;
  } 

form .requester-detail .input-box {
  margin-bottom: 15px;
  width: 100%;
}

.container form .requester-detail {
  max-height: 300px;
}
  /* overflow-y: scroll;

  .requester-detail::-webkit-scrollbar {
  width: 10%;
} */
} 
