@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

/* .home, .about, .request {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
} */


/* .App {
  text-align: center;
}

/* nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: black rgb(73,79,82);
  color: rgb(48, 23, 23);
}

.nav-links{
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
} */

/* line from import to requester detail is the latest */
/* @import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
@import "react-slideshow-image/dist/styles.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
} */

/* body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.container {
  max-width: 700px;
  width: 100%;
  background: whitesmoke;
  padding: 25px 30px;
  border-radius: 5px;
}

.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.container .title::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
} */

/* .container form .requester-detail {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

form .requester-detail .input-box {
  margin: 20px 0 12px 0;
  width: calc(100% / 2 - 20px);
}

.requester-detail .input-box .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.requester-detail .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.requester-detail .input-box input:focus,
.requester-detail .input-box input:valid {
  border-color: #9b59b6;
}

form .button {
  height: 45px;
  margin: 45px 0;
}

form .button input {
  height: 100%;
  width: 100%;
  outline: none;
  color: whitesmoke;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  letter-spacing: 1px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6)
}

form .button input:hover {
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}

@media (max-width: 584px) {
  .container{
    max-width: 100%;
  } */

/* form .requester-detail .input-box {
  margin-bottom: 15px;
  width: 100%;
}

.container form .requester-detail {
  max-height: 300px;
  overflow-y: scroll;
}

.requester-detail::-webkit-scrollbar {
  width: 10%;
}
} 

/* below is the current saved till h5*/

/* :root {
  --main-black: #000000; 
} */
/* 
body {
  font-family: "Titillium Web", sans-serif;
  height: 100%;

}

.logo {
  width: 16.25rem;

} */ 

/* MENU LINK */

/* nav a.nav-link {
  font-weight: 400;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
} 

.navbar-nav > li > a {
  font-size: 1.1em !important;
  margin-right: 0.75rem;
  padding-right: 20px;
  padding: .8rem;
  margin-left: 0.75rem;
  color: var(--main-black) !important;
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
} */
 
/* .each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center; 
  background-size: cover;
  height: 350px;
} 

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
} 

.carousel-inner {
  width: 100%;
  height: 100%;
} 

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
} 

.carousel-caption h1 {
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000;
}  

.carousel-caption h3 {
  font-size: 200%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1rem;
}

h5 {
  text-align: center;
}   */




/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */ 
